name: Lint

on:
  pull_request:
    branches:
      - master

jobs:
  container:
    name: Containerfile
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: Containerfile
